<section><!-- ctrl -->
    <div class="outer-container">

      <div class="add-todo-group input-group input-group-lg">
        <span class="input-group-addon">
          <i class="glyphicon glyphicon-list-alt"></i>
        </span>
        <input ng-model="newTask" placeholder="New Todo" class="form-control" type="text"><!-- model  -->
        <span class="input-group-btn">
          <button ng-click="addNewTask()" class="btn btn-success" type="button"><!-- click  -->
            <i class="glyphicon glyphicon-plus"></i>
          </button>
        </span>
      </div>

      <div ng-repeat="todo in todos" class="input-group input-group-lg"><!-- repeat  -->
        <span class="input-group-addon">
          <input ng-model="todo.completed" type="checkbox"> <!-- model -->
        </span>
        <input complete-color="todo.completed" ng-model="todo.val" filter="altCaps" ng-class="{ finished: todo.completed }" class="form-control" type="text"><!-- model / class  -->
        <span class="input-group-btn">
          <button ng-click="removeTodo($index)" class="btn btn-danger" type="button"><!-- click  -->
            <i class="glyphicon glyphicon-remove"></i>
          </button>
        </span>
      </div>

      <div class="btn-clear-group">
        <button ng-click="clearCompleted()" class="btn btn-primary btn-clear">Clear Completed</button><!-- click -->
      </div>
    </div>
  </section>